* {
	font-family: Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

body {
	background-color: #000052;
}

a, a:visited {
	color: #0000FF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.main-nav {
	overflow: auto;
	display: block;
	list-style: none;
	padding: 0;
}

	.main-nav li {
		float: left;
		text-align: center;
		margin: 0;
		padding: 0;
	}
	
	.main-nav li a,
	.main-nav li a:visited {
		display: block;
		width: 110px;
		margin: 3px;
		padding: 10px 0;
		background: #000052;
		color: #ffffff;
	}

.content, .main-nav {
	max-width: 700px;
	margin: 0 auto;
	background-color: #E6E6FF;
	padding: 15px;
}
.error {
	font-weight: bold;
	color: #ff0000;
}

#actions {
	padding-bottom: 5px;
}

#menu {
	padding-top: 5px;
}

.login-info {
	text-align: right;
}

.hidden {
	display: none;
}

fieldset {
	border: none;
	margin-top: 15px;
}

.gllpMap { 
	width: 500px; 
	height: 250px; 
}